form{
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
}
form{
display: flex;
flex-direction: column;
width: 700px;
}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
}

#Table{
        /* The image used */
        background-image: url(../Images/LoginTable.jpg);

        /* Full height */
        height: 100%; 
    
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

}